<% users.each do |u| %>
  <% @doing_now = StuffToDo.doing_now(u) %>
  <h2><%= avatar(u, :size => "24") %> <%= u.name %></h2>
  <ol>
    <% unless stuff_for(@doing_now).empty? %>
    <%= render :partial => 'item', :collection => stuff_for(@doing_now) %>
    <% else %>
    <li class="empty-list">
      Not doing anything!!!?!?? FIRE THIS PERSON!
    </li>
    <% end %>
  </ol>
<% end %>
